<body>
  <section>
    <h1>Sobre o projeto!</h1>
    <p>
      Esse projeto, que faz parte do teste técnico para Dev FrontEnd na Teddy
      Open Finance, teve seu MVP(funcionando aí seus 90%) feito em 9 horas,
      horas que com certeza foram muito desafiadoras mas totalmente
      recompensadoras!
    </p>
    <p>
      Eu, que já gostava muito de trabalhar com ReactJs, tive meu primeiro
      contato codando com o Angular nesse projeto (até então, só consumia
      conteúdo) e me identifiquei logo de cara. A organização dos componentes, a
      disponibilidade de bibliotecas, a tipagem que ajuda muito, a parte de
      módulos e routing que é muito clara... Mas, dessas 9 horas, uma boa parte
      delas foi debugando o que eu escrevia (no começo cada linha era um debug)
      e outra boa parte foi refazendo o CRUD. Pois é, ao finalizar o CRUD com
      promises (um vídeo que eu havia estudado junto com React fazia assim), li
      que estava obsoleto e que o certo agora era com Observable!
    </p>
    <p>
      Mas tudo bem, já foi logo uma revisão logo após ter aprendido a sintaxe,
      então melhorou muito a velocidade e qualidade do código.
    </p>
    <p>
      Para esse projeto, utilizei Angular com routes, lib Angular Material,
      TypeScript e o CRUD em Observable. O projeto tem como objetivo cadastrar
      informações parceiros que utilizam nossas aplicações em uma API REST, além
      de poder fazer a atualização dos dados e deleção do parceiro, caso
      necessário.
    </p>

    <button mat-raised-button (click)="navigateToDashboard()">
      Voltar para Dashboard
    </button>
  </section>
</body>
